{% extends 'core/base.html' %}

{% load static %} 
{% block title%} Login {% endblock %} 
{% block styles %}
<link href="{% static 'authentication/css/forgot_password.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <main class="container min-vh-100">
        <div class="row py-3 mb-4">
            <div class="col-12">
                <div class="border-bottom">
                    <h1 class="text-center">Olvidé mi contraseña</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center mb-5">
            <div class="col-12 col-lg-6">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control mb-3" placeholder="Email" name="email" id="email">
                            <label for="token" class="form-label">Token</label>
                            <input type="text" class="form-control" placeholder="Token" name="token" id="token" disabled>
                            <div class="text-center mt-3">
                                <button class="btn btn-secondary" type="button" id="btnGenerarToken" onclick="inputsVerificarToken()">Enviar token</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %} 
{% block scripts %}
<script src="{% static 'authentication/js/forgot_password.js' %}"></script>
{% endblock %}