{% extends 'core/base.html' %}

{% load static %} 
{% block title%} Login {% endblock %} 
{% block styles %}
<link href="{% static 'authentication/css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <main class="container">
        <div class="row py-3 mb-4">
            <div class="col-12">
                <div class="border-bottom">
                    <h1 class="text-center">Iniciar sesión</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center mb-5">
            <div class="col-12 col-lg-6">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <svg class="mx-auto w-25 h-25" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        </div>
                        <form action="#" method="post">
                        
                            {% csrf_token %}
                            {{form}}
                            <!-- <input type="email" class="form-control my-4 py-2" name="correo" placeholder="Password"> -->
                            <div class="text-center mt-3">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <button class="btn btn-secondary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalUsers">Usuarios de prueba</button>
                                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                </div>
                                <a href="{% url 'authentication/forgot' %}" class="nav-link">Recuperar contraseña</a>
                                <a href="{% url 'authentication/register' %}" class="nav-link">¿Ya tienes una cuenta?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal fade" id="modalUsers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel2">Usuarios</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul style="padding: 0; list-style: none;min-height: 200px; max-height: 400px; overflow-y: auto;overflow-x: hidden;" id="usersList">
                                    {% for usuario in usuarios %}
                                    <li>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-12 col-lg-10">
                                                <div class="alert alert-info d-flex align-items-center justify-content-between" role="alert" onclick="seleccionarUsuario(event)">
                                                    <div class="d-flex flex-column align-items-start">
                                                        <span class="d-flex align-items-end">
                                                            <span class="fw-bold" style="margin-right: 40px;">Usuario:</span>
                                                            <span>{{usuario.username}}</span>
                                                        </span>
                                                        <span class="d-flex align-items-end">
                                                            <span class="fw-bold" style="margin-right: 12px;">Contraseña:</span>
                                                            <span>pruebausuario12345678</span>
                                                        </span>
                                                    </div>
                                                    <div class="rounded-circle border border-dark border-3 bg-light p-2">
                                                        {{usuario.avatar|safe}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li> 
                                    {% endfor %}
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %} 
{% block scripts %}
<script src="{% static 'authentication/js/login.js' %}"></script>
{% endblock %}