{% extends 'core/base.html' %}

{% load static %} 
{% block title%} Contestado {% endblock %} 
{% block styles %}
<link href="{% static 'cuestionarios/css/contestado.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
    <div class="row py-3">
      <div class="col-12">
        <div class="border-bottom">
          <h1 class="text-center">{{cuestionario.nombre_cuestionario}}</h1>
        </div>
      </div>
    </div>
    <form action="#" method="post">
        {% csrf_token %}
        {% for pregunta in preguntas %}
            {% if pregunta.acierto %}
                <div class="row d-flex justify-content-center">
                    <div class="col-10 rounded border-start border-success border-4" style="background: #f7f7f7; margin:10px 0; padding: 40px;">
                        <h2 class="fs-3 mb-3">{{pregunta.pregunta.pregunta}}</h2>
                        {% for respuesta in pregunta.respuestas %}
                        {% if pregunta.respuesta_correcta.id == respuesta.id %}
                            <div class="form-check mb-2 success py-2 rounded">
                                <div class="d-flex flex-row align-items-center px-2">
                                    {% if pregunta.respuesta_correcta.id == respuesta.id %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;" value="{{respuesta.id}}" id="{{respuesta.id}}" checked required disabled>
                                    {% else %}
                                    {% if pregunta.respuesta_usuario.id == respuesta.id %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;"  value="{{respuesta.id}}" id="{{respuesta.id}}" checked required disabled>
                                    {% else %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;"  value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                    {% endif %}
                                    {% endif %}
                                    <label class="form-check-label fs-6 ms-1 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                        {{respuesta.respuesta}}
                                    </label>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-check mb-2 py-2 rounded">
                                <div class="d-flex flex-row align-items-center px-2">
                                    {% if pregunta.respuesta_correcta.id == respuesta.id %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;" value="{{respuesta.id}}" id="{{respuesta.id}}" checked required disabled>
                                    {% else %}
                                    {% if pregunta.respuesta_usuario.id == respuesta.id %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;"  value="{{respuesta.id}}" id="{{respuesta.id}}" checked required disabled>
                                    {% else %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;"  value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                    {% endif %}
                                    {% endif %}
                                    <label class="form-check-label fs-6 ms-1 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                        {{respuesta.respuesta}}
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
            <div class="row d-flex justify-content-center">
                <div class="col-10 border-start border-danger border-4 rounded" style="background: #f7f7f7; margin:10px 0; padding: 40px;">
                    <h2 class="fs-3 mb-3">{{pregunta.pregunta.pregunta}}</h2>
                    {% for respuesta in pregunta.respuestas %}
                        {% if pregunta.respuesta_usuario.id == respuesta.id %}
                            <div class="form-check fail checked mb-2 py-2 rounded">
                                <div class="d-flex flex-row justify-content-center align-items-center px-2">
                                    {% if pregunta.respuesta_usuario.id == respuesta.id %}
                                    <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required checked disabled>
                                    {% else %}
                                    {% if respuesta.correcta %}
                                    <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                    {% else %}
                                    <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                    {% endif %}
                                    {% endif %}
                                    {% if respuesta.correcta %}
                                    <label class="form-check-label ms-1 fs-6 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                        {{respuesta.respuesta}}
                                    </label>
                                    {% else %}
                                    <label class="form-check-label ms-1 fs-6 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                        {{respuesta.respuesta}}
                                    </label>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            {% if respuesta.correcta %}
                                <div class="form-check mb-2 py-2 rounded success">
                                    <div class="d-flex flex-row justify-content-center align-items-center px-2">
                                        {% if pregunta.respuesta_usuario.id == respuesta.id %}
                                        <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required checked disabled>
                                        {% else %}
                                        {% if respuesta.correcta %}
                                        <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                        {% else %}
                                        <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                        {% endif %}
                                        {% endif %}
                                        {% if respuesta.correcta %}
                                        <label class="form-check-label ms-1 fs-6 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                            {{respuesta.respuesta}}
                                        </label>
                                        {% else %}
                                        <label class="form-check-label ms-1 fs-6 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                            {{respuesta.respuesta}}
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-check mb-2 py-2 rounded">
                                <div class="d-flex flex-row justify-content-center align-items-center px-2">
                                    {% if pregunta.respuesta_usuario.id == respuesta.id %}
                                    <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required checked disabled>
                                    {% else %}
                                    {% if respuesta.correcta %}
                                    <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                    {% else %}
                                    <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                    {% endif %}
                                    {% endif %}
                                    {% if respuesta.correcta %}
                                    <label class="form-check-label ms-1 fs-6 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                        {{respuesta.respuesta}}
                                    </label>
                                    {% else %}
                                    <label class="form-check-label ms-1 fs-6 w-100" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                        {{respuesta.respuesta}}
                                    </label>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="col text-center">
                {% if aprobado %}
                    <span class="fs-5 fw-bold">Aprobado</span>
                {% else %}
                    <span class="fs-5 fw-bold">Suspendido</span>
                {% endif %}
            </div>
            <div class="col text-center">
                <span class="fs-5">Aciertos: <span class="fw-bold">{{aciertos}}</span> / Falladas: <span class="fw-bold">{{falladas}}</span></span>
            </div>
        </div>
        <div class="row my-4">
            <div class="col d-flex justify-content-center">
                <!-- <button type="submit" class="btn btn-success btn-lg mx-2">Repetir</button> -->
                <a href="/cuestionarios/contestar/{{cuestionario.id}}" class="btn btn-success btn-lg mx-2">Repetir</a>
                <a href="/cuestionarios/" class="btn btn-primary btn-lg mx-2">Volver al inicio</a>
            </div>
        </div>
    </form>
</div>
{% endblock %} 
